header {
  font-size: 20px;
  border: solid black 3px;
  text-align: center;
  background: grey;
  margin-bottom: 30px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.question-card {
  border: black solid 3px;
  height: auto;
  width: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.bookmarked {
  color: red;
}

.question-card i {
  position: absolute;
  right: 30px;
  top: -20px;
  font-size: 40px;
}
