header {
  font-size: 20px;
  border: solid black 3px;
  text-align: center;
  background: grey;
  margin-bottom: 30px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.question-card {
  border: black solid 3px;
  height: auto;
  width: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  padding: 20px;
}
.bookmarked {
  color: red;
}

.question-card i {
  position: absolute;
  right: 30px;
  top: -20px;
  font-size: 40px;
}

.question {
  font-size: 20px;
}

.answer {
  padding: 20px;
  margin-bottom: 20px;
}

.tags {
  display: flex;
  gap: 20px;
}

.tags p {
  background-color: grey;
  border: 2px solid black;
  padding: 10px;
}
