.picture {
  width: 30%;
  border-radius: 30%;
  border: 10px solid var(--main);
}

.me-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  font-size: 3rem;
  font-style: italic;
}

.text {
  text-align: center;
  border: solid var(--main) 2px;
  padding: 5px;
  box-shadow: 5px 5px 5px var(--main);
  margin-bottom: 20px;
}
